
     {% extends "layout.html" %}

     {% block content %}
     <div class="container pt-5">
       <div class="row">
         <div class="col-sm-3 col-12">
           <img src="{{profile.image}}" alt="{{profile.name}}" class="img-fluid img-thumbnail">
         </div>
         <div class="col-sm-9 col-12 pt-5">
           <h5 class="h5">Nome: {{profile.name}}</h5>
           <h5 class="h5">Status: {{profile.status}}</h5>
           <h5 class="h5">Espécie: {{profile.species}}</h5>
           <h5 class="h5">Gênero: {{profile.gender}}</h5>
           <h5 class="h5">Origem: {{profile.origin.name}}</h5>
         </div>
       </div>
     </div>
     {% endblock %}
     
   